* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #1F2937;
  color: #F9FAF8;
  height: 60px;
  font-size: 24px;

}

.navbar a:hover {
  color: lightblue;
}

.navbar .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.navbar a {
  color: #E4E7EB;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left:  55px;
}

.header {
  background: #1F2937;
  font-size: 18px;
  color: #E4E7EB;
  min-height: 300px;
}

.header h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bolder;
  line-height: 1.2;
}

.header img {
  max-width: 400px;
  max-height: 300px;
  border-radius: 15px;
  margin-left: 40px;
}

.header .container {
  display: flex;
   align-items: center;
  justify-content: space-between;
}

.header .container button {
  display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
}

.header .container button:hover {
color: black;
} 

.header .container p {
  display: block;
  text-align: left;
  max-width: 600px;
}

.boxes h2 {
  text-align: center;
  margin: auto;
  
  font-size: 36px;
  color: #1F2937;
  background: greenyellow;
}

.boxes .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 300px;
  max-width: 1700px;
  background: pink;
 
  
}

.box img {
  flex: 1;
  border-radius: 20px;
  max-width: 200px;
  max-height: 350px;
  padding: 10px;
  margin-top: 15px;
}

.text {
  text-align: center;
  display: block;
  max-width: 200px;
  
}

.quote {
  background: #E5E7EB;
  display: flex;
  padding: 60px 220px;
  flex-direction: column;
  
}

.quote p {
  font-size: 36px;
  color: #1F2937;

}

.quote b {
  text-align: right;
  margin-top: 20px;
  margin-right: 40px;
  font-weight: bold;
  font-size: 18px;
}