* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #1F2937;
  color: #F9FAF8;
  height: 60px;
  font-size: 24px;

}

.navbar a:hover {
  color: lightblue;
}

.navbar .logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.navbar a {
  color: #E4E7EB;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left:  55px;
}
